@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");




:root {
  --fbAction: #7f5af0;
  --fbAccent: #2cb67d;
  --fbBg1: #242629;
  --fbBg2: #16161a;
  --fbText: #efefef;
  --fbTextInvert: #121212;
  font-family: "JetBrains Mono";
}